# no binaries
**/bin/

# no representation pngs (aird)
*.png

# no generated model code
**/src-gen/

# no generated projects
**/*.edit/
**/*.editor/
**/*.tests/

# no generated (delta-)metamodels
**/model-gen/*

# Exception for metamodels that were used once just in case...
!**/model-gen/old-versions/
!**/model-gen/old-versions/**