<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bcsComponent -->
      <package
            uri="https://tva.kastel.kit.edu/bcs/ecorebased/metamodel/bcsComponent"
            class="edu.kit.kastel.tva.bcs.ecorebased.metamodel.bcsComponent.bcsComponent.BcsComponentPackage"
            genModel="model/bcsComponent.genmodel"/>
   </extension>

</plugin>
